.cabeza{
    display: flex;
flex-direction: row;
    justify-content: space-around;
    background-color: grey;
}

.nav {

    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    justify-content: space-between;
  }
  
  .nav-item {
    font-size: 3rem;
    list-style-type: none;
    justify-content: pace-between;
  }
  
  .nav-link {
    color: black;
    border-radius: .3rem;
    text-decoration: none;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
    font-size: 1rem;
  }
  
  .nav-link:hover {
    color: white;
    background-color: burlywood;
  }
  
  .cart-widget {
    color: white;
    border-radius: .3rem;
    display: inline-block;
    background-color: #71170581;
    width: 3rem;
    height: 3rem;
    margin-top: 10px;

  }
 