.card{
    background: rgba(90, 12, 12, 0.773);
    border-radius: 5px;
    padding: 1rem;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    height: 20rem;
    width: 20rem;
    justify-content: center;
    flex-direction: row;
  }

  .greeting{
    font-size: 3rem;
    margin-left: 40%;
  }
  .lista{
    display: flex;
    flex-direction: row;
  }
  .nombreproducto{
    font-size: 2rem;
  }

  .listado{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    margin-left: 30%;
  }
  
